header {
	color: #000;
	text-align: right;
}

/*main, article {*/
/*main, article {
	text-align: center;
	max-width: 100%;
}*/

.header__logo {
	height: 150px;
	margin-right: 1em;
	vertical-align: top;
	margin-top: 12px;
}

#title {
	font-family: 'Lobster', cursive;
	color: grey;
	font-size: 30px;
}

p {
	font-family: 'Lobster', cursive;
	color: grey;
	font-size: 20px;
}

@media screen and (max-width: 865px) {
	.kids{
		display: none;
	}
}
@media screen and (max-width: 650px) {
	#me {
		display: none;
	}
}
@media screen and (max-width: 425px) {
	#title {
		display: none;
	}
}

a {
	padding: 1em;
}

.da-projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project-title {
	display: block;
	text-align: center;
}

/*div{
	border-style: solid;
}*/
.da-projects {
	width: 100%;
	height: auto;
 }

.me{
	background-image: 100%;
	display: block;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*.container {*/
	 /*position: relative;*/
   /*color: black;*/
   /*background-size: cover;*/
/*}*/

.centered {
   text-align: center;
    /*position: absolute;*/
    display:block;
    margin-left: auto;
    margin-right: auto;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*font-family: 'Lobster', cursive;*/
    /*font-size: 50px;*/
}

.bottom {
	  position: absolute;
	  bottom: 50px; 
}