/*div{
	border-style: solid;
}*/

h1 {
	font-family: 'Lobster', cursive;
	color: grey;
	font-size: 30px;
	text-align: center;
}

p {
	font-family: 'Lobster', cursive;
	color: grey;
	font-size: 20px;
	text-align: center;
}

a {
	padding: 1em;
}

footer {
	margin-top: 2em;
}

@media screen and (max-width: 725px) {
	.kids{
		display: none;
	}
}

@media screen and (max-width: 650px) {
	.info, .info-background, .info-text{
		display: none;
	}
}

.header-logo {
	height: 150px;
	margin-right: 1em;
	vertical-align: top;
	margin-top: 12px;
}

.da-projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	/*todo: is this needed?*/
	width: 100%;
	height: auto;
}

.project-title {
	display: block;
	text-align: center;
}

.info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

.info-text {
	font-family: "Courier New", Courier, monospace;
	color: orange;
	font-size: 35px;
	font-weight: bold;
}

.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

.footer-text {
	display: inline;
}

.footer-img {
	display: inline;
	vertical-align: top;
}
